{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About WorldViews{% endblock %}
{% block navtitle %}WorldViews{% endblock %}
{% block jsext %}

<link rel="stylesheet" href="{% static "css/grid.css" %}" type="text/css" />
<script src="/static/js/WVR.js"></script>
<script type="text/javascript">
</script>

<style type="text/css">
</style>

{% endblock %}
{% block content %}

<h2>Mission</h2>
To support the Human family living on this one beautiful planet in sharing the
many views of our world.
&nbsp;<p>
&nbsp;<p>
This involves providing easy access to technologies that allows us to easily see other
parts of the world, and to share our own, in many exciting ways, such as live or recorded
images, video, and virtual models.   More importantly, it involves using those technologies
to help us connect, and to share our stories, concerns and dreams.

{% endblock %}
