{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}SharedCam{% endblock %}
{% block navtitle %}SharedCam{% endblock %}
{% block jsext %}

<script type="text/javascript">

$(document).ready(function() {
//    timerFun();
//    window.setInterval(get_recent, 2000);
});

</script>

<style type="text/css">
   
</style>

{% endblock %}
{% block content %}

<h2>
    Available Guides
    <br /><small>People available right now to show you a view into their world</small>
</h2>

<div id="cams"></div>

<h2>Recent Photos
    <br /><small>Photos taken by remote viewers</small>
</h2>

{% endblock %}
