{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About WorldViews{% endblock %}
{% block navtitle %}WorldViews{% endblock %}
{% block jsext %}

<link rel="stylesheet" href="{% static "css/grid.css" %}" type="text/css" />
<script src="/static/js/WVR.js"></script>
<script type="text/javascript">
</script>

<style type="text/css">
</style>

{% endblock %}
{% block content %}

<h3>Virtual Photo Walks</h3>

<h3>Travel By/With Drone</h3>

<h3>Henry Evans</h3>

<h3>Google Earth</h3>

<h3>The WWW</h3>

<h3>Python</h3>

<h3>OpenExplorer</h3>


{% endblock %}
