{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About WorldViews{% endblock %}
{% block navtitle %}WorldViews{% endblock %}
{% block jsext %}

<link rel="stylesheet" href="{% static "css/grid.css" %}" type="text/css" />
<script src="/static/js/WVR.js"></script>
<script type="text/javascript">
</script>

<style type="text/css">
</style>

{% endblock %}
{% block content %}

<h3>Sabina Fedin</h3>

<h3>Don Kimber</h3>

<h3>Steve Omohundro</h3>

<h3>Kathleen Tuite</h3>

<h3>Jim Vaughan</h3>


{% endblock %}
