{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About WorldViews{% endblock %}
{% block navtitle %}WorldViews{% endblock %}
{% block jsext %}

<link rel="stylesheet" href="{% static "css/grid.css" %}" type="text/css" />
<script src="/static/js/WVR.js"></script>
<script type="text/javascript">
</script>

<style type="text/css">
</style>

{% endblock %}
{% block content %}

{% for proj in projs %}
<!--
<h3>{{proj.name}}: {{proj.title}} </h3>
-->
<h3>{{proj.title}} </h3>
{{proj.description}}<br>
&nbsp;
<p>

{% endfor %}

{% endblock %}
